# SPDX-License-Identifier: MIT
#
# For documentation on the github environment, see
# https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
#
# For documentation on the syntax of this file, see
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
#
# For documentation on publishing to PyPI with a Trusted Publisher, see
# https://docs.pypi.org/trusted-publishers/
---
name: Publish to PyPI

on:
  push:
    tags:
      - 'v[0-9]*.[0-9]*.[0-9]*'  # Trigger only on version tags like v1.0.0

jobs:
  build-and-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/orca-hls-utils
    permissions:
      id-token: write

    steps:
    - name: Check out repository
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'

    - name: Install build tools
      run: |
        python -m pip install --upgrade pip
        pip install build

    - name: Build package
      run: python -m build

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
